<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>theadambishop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='static/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="text-center hero px-4">
        <img class="d-block mx-auto mb-4 headshot shadow-lg" src="static/Professional_Headshot.png" alt="Adam Bishop Professional Headshot" height="200">
        <h1 class="display-5 fw-bold text-body-emphasis-white text-white">Adam Bishop</h1>
        <div class="col-sm-6 mx-auto">
          <p class="lead mb-4 text-white text-test">Bringing over a decade of experience in Customer Success and an advanced technical proficiency in Python and web development, I'm a native to the Bay Area, now calling San Francisco home. My journey as a dedicated father is as integral to my identity as my commitment to fostering successful customer relationships in the tech industry.</p>
          <div class="pt-3 d-grid gap-3 d-sm-flex justify-content-center">
            <a href="mailto:theadambishop@gmail.com"><button type="button" class="btn btn-light btn-lg px-4 gap-3">Contact</button></a>
            <a href="static/adam_bishop_resume.pdf" target="_blank"><button type="button" class="btn btn-outline-light btn-lg px-4">Resume</button></a>
          </div>
        </div>
    </div>
</div>
      </div>
      
      <div class="p-5 text-center bg-body-tertiary bg-light">
        <div class="container pt-5 pb-3">
          <h3 class="text-body-emphasis">Tons of start-up experience from Seed round through IPO.</h3>
        </div>
      <div class="container pt-5 pb-2">
        <div class="row pb-0">
          <div class="pb-5 col-lg-2 col-md-3 col-sm-6 d-flex justify-content-center text-center">
            <a href="https://posiq.net"><img src="static/posiq.png" alt="posiq" height="30"></a>
          </div>
          <div class="pb-5 col-lg-2 col-md-3 col-sm-6 d-flex justify-content-center text-center">
            <a href="https://presto.com/"><img src="static/presto.png" alt="presto" height="30"></a>
          </div>
          <div class="pb-5 col-lg-2 col-md-3 col-sm-6 d-flex justify-content-center text-center">
            <a href="https://zetaglobal.com/"><img src="static/zeta.png" alt="zeta" height="30"></a>
          </div>
          <div class="pb-5 col-lg-2 col-md-3 col-sm-6 d-flex justify-content-center text-center">
            <a href="https://www.walkme.com/"><img src="static/walkme.png" alt="walkme" height="30"></a>
          </div>
          <div class="pb-5 col-lg-2 col-md-6 col-sm-6 d-flex justify-content-center text-center">
            <a href="https://aisera.com/"><img src="static/aisera.png" alt="aisera" height="15"></a>
          </div>
          <div class="pb-2 col-lg-2 col-md-6 col-sm-6 d-flex justify-content-center text-center">
            <a href="https://www.strongdm.com/"><img src="static/strongdm.png" alt="strongdm" height="25"></a>
          </div>
        </div>
      </div>
      </div>
      <div class="customer-success py-5">
      <div class="px-4 py-5 mt-2 text-center">
        <h1 class="display fw-bold text-body-emphasis">Customer Success Professional</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 text-background">My career has been largely dedicated to Customer Success, having spent over a decade in post-sales customer management across a diverse array of start-ups. My portfolio spans both commercial and enterprise clients, with results that underscore my aptitude for driving significant success. I pride myself on nurturing robust relationships that not only promote mutual respect, but also generate mutually beneficial outcomes.</p>
        </div>
      </div>
    </div>
        <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="static/python_code.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display fw-bold text-body-emphasis mb-3">Junior Python Developer</h1>
            <p class="lead">Recognizing an opportunity to deepen my skill set, I undertook a Python development bootcamp and have since transformed into a proficient Python and web developer. This fusion of customer-centric proficiency and technical expertise now defines my professional identity.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
        </div>
    </div>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/walkme_group.jpg" class="d-block w-100 walkme" alt="WalkMe Team">
          </div>
          <div class="carousel-item">
            <img src="static/boomtrain_group.jpeg" class="d-block w-100" alt="Boomtrain Team">
          </div>
          <div class="carousel-item">
            <img src="static/posiq_team.jpeg" class="d-block w-100" alt="Posiq Team">
        </div>
          <div class="carousel-item">
            <img src="static/christmas_card.jpg" class="d-block w-100" alt="Bishop Family Picture">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="static/adam_bishop_resume.pdf" target="_blank" class="nav-link px-2 text-body-secondary">Resume</a></li>
            <li class="nav-item"><a href="mailto:theadambishop@gmail.com" class="nav-link px-2 text-body-secondary">Contact</a></li>
          </ul>
          <p class="text-center text-body-secondary">© 2023 Adam Bishop</p>
          <div class="container d-flex justify-content-center text-center">
            <a class="link-secondary" href="https://www.linkedin.com/in/theadambishop/"><svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-linkedin mx-2" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"static/>
              </svg></a>
            <a class="link-secondary" href="https://github.com/theadambishop7"><svg xmlns="http://www.w3.org/2000/svg" height="30" fill="currentColor" class="bi bi-github mx-2" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"static/>
              </svg></a>
          </div>
        </footer>
      </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>